<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" >
        <p>Engineering Student at Fr.CRCE</p>
        <p>Real Name:Abdullah Jafrulla Khan</p>
        <p>Profile name:!Legend</p>
        <p>Hobby:Playing football</p>
        <p>Quote:'Everybody tries to define life but the truth is no one could define it.'</p>
        
    </div>
    
    {{>footer}}
</body>

</html>